
<%= form_tag students_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>



<h1>Listing students</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Promo</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= paginate @students unless params[:search] %>
<% @students.each do |student| %>
  <tr>
    <td><%= student.nom %></td>
    <td><%= student.prenom %></td>
    <td><%= student.promo %></td>
    <td><%= image_tag(student.photo)%></td>
    <td><%= link_to 'Show', student %></td>
  </tr>
<% end %>
</table>

<br />

