<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @student.nom %>
</p>

<p>
  <b>Prenom:</b>
  <%= @student.prenom %>
</p>

<p>
  <b>Promo:</b>
  <%= @student.promo %>
</p>

<p>
  <b>Photo:</b></br>
  <%= image_tag(@student.photo) %>
</p>
<p>
 <b>Diplomes :</b></br>
<% @student.diplomes.each do |d| %>
	<%= d.name %> </br>
<% end %>
</p>

<p>
 <b>Experiences :</b></br>
<% @student.experiences.each do |e| %>
	Boite : <%= e.societe %> Poste : <%= e.poste %> Date : <%= e.debut %> - <%= e.fin %>  </br>
<% end %>
</p>

<%= link_to 'Back', students_path %>
