<%= form_for(@experience) do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :poste %><br />
    <%= f.text_field :poste %>
  </div>
  <div class="field">
    <%= f.label :debut %><br />
    <%= f.text_field :debut %>
  </div>
  <div class="field">
    <%= f.label :fin %><br />
    <%= f.text_field :fin %>
  </div>
  <div class="field">
    <%= f.label :societe %><br />
    <%= f.text_field :societe %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.number_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
