<h1>Listing experiences</h1>

<table>
  <tr>
    <th>Poste</th>
    <th>Debut</th>
    <th>Fin</th>
    <th>Societe</th>
    <th>Student</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @experiences.each do |experience| %>
  <tr>
    <td><%= experience.poste %></td>
    <td><%= experience.debut %></td>
    <td><%= experience.fin %></td>
    <td><%= experience.societe %></td>
    <td><%= experience.student_id %></td>
    <td><%= link_to 'Show', experience %></td>
    <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
    <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Experience', new_experience_path %>
