<p id="notice"><%= notice %></p>

<p>
  <b>Poste:</b>
  <%= @experience.poste %>
</p>

<p>
  <b>Debut:</b>
  <%= @experience.debut %>
</p>

<p>
  <b>Fin:</b>
  <%= @experience.fin %>
</p>

<p>
  <b>Societe:</b>
  <%= @experience.societe %>
</p>

<p>
  <b>Student:</b>
  <%= @experience.student_id %>
</p>


<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
