<%= form_for(@diplome) do |f| %>
  <% if @diplome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diplome.errors.count, "error") %> prohibited this diplome from being saved:</h2>

      <ul>
      <% @diplome.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.number_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
