<h1>Listing diplomes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Student</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @diplomes.each do |diplome| %>
  <tr>
    <td><%= diplome.name %></td>
    <td><%= diplome.student_id %></td>
    <td><%= link_to 'Show', diplome %></td>
    <td><%= link_to 'Edit', edit_diplome_path(diplome) %></td>
    <td><%= link_to 'Destroy', diplome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Diplome', new_diplome_path %>
