<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @diplome.name %>
</p>

<p>
  <b>Student:</b>
  <%= @diplome.student_id %>
</p>


<%= link_to 'Edit', edit_diplome_path(@diplome) %> |
<%= link_to 'Back', diplomes_path %>
